* {
    padding: 0;
    margin: 5px;
    border: none;
}

body {
    font-size: 14px;
}

#new-comment > input {
    width: 450px;
    height: 30px;
    padding: 0 10px;
    background-color:lightgray;


}

#new-comment > input[type="submit"] {
    color: white;
    width: 50px;
    
    font-size: 16px;
    background-color: black;
}
